<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@graph": [
    {
      "@type": "ProfilePage",
      "@id": "https://naser.github.io/#profile",
      "url": "https://naser.github.io/",
      "name": "Naser Ezzati-Jivan",
      "isPartOf": {
        "@id": "https://naser.github.io/#website"
      },
      "mainEntity": {
        "@id": "https://naser.github.io/#person"
      }
    },
    {
      "@type": "WebSite",
      "@id": "https://naser.github.io/#website",
      "url": "https://naser.github.io/",
      "name": "Naser Ezzati-Jivan",
      "publisher": {
        "@id": "https://naser.github.io/#person"
      }
    },
    {
      "@type": "Person",
      "@id": "https://naser.github.io/#person",
      "name": "Naser Ezzati-Jivan",
      "jobTitle": "Associate Professor",
      "url": "https://naser.github.io/tabs/research/",
      "worksFor": {
        "@type": "CollegeOrUniversity",
        "name": "Brock University",
        "url": "https://brocku.ca/"
      },
      "sameAs": [
        "https://brocku.ca/mathematics-science/computer-science/faculty-staff/naser-ezzati-jivan/",
        "https://orcid.org/0000-0003-1435-6297",
        "https://scholar.google.com/citations?user=sJWcLv8AAAAJ",
        "https://github.com/naser"
      ],
      "knowsAbout": [
        "kernel tracing",
        "system tracing",
        "software performance",
        "observability",
        "performance debugging",
        "cloud systems",
        "distributed systems"
      ]
    }
  ]
}
</script>
